**/solaris-v*/build/
/.devcontainer/devcontainer.json
sdkconfig.defaults
sdkconfig.old
sdkconfig
.clangd
solaris-v2/sdkconfig
settings.json 
.espidf/
*.cache*
launch.json
doc/
misra_rules.generated.txt
cppcheck-result.xml
