name: ESP-IDF Build
on: [push]

jobs:
  build-solaris-code:
    runs-on: self-hosted

    container:
      image: espressif/idf:v6.0-dev
      options: >-
        --security-opt label=disable

    steps:
      - name: Fix permissions for GitHub workspace
        run: |
          chmod -R 777 $GITHUB_WORKSPACE || true
          chmod -R 777 /__w || true

      - name: Checkout (repo + submodules)
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.CI_GH_TOKEN }}

      - name: Ensure git & ssh client
        run: apt-get update && apt-get install -y git openssh-client && rm -rf /var/lib/apt/lists/*

      - name: Sync & init submodules
        run: git submodule update --init --recursive

      - name: Build firmware
        run: |
          cd solaris-v0.2
          . /opt/esp/idf/export.sh
          idf.py build
